<% @page_title = 'Get feedback on your design' %>
<% @meta_description = 'FREE desirability testing using the Microsost Reaction Card method. Get feedback on your design'%>
<% if flash[:error].present? %>
          <div data-alert class="home-flash">
            <%= flash[:error] %>
          </div>
<% end %>

<% if flash[:alert].present? %>
          <div data-alert class="home-flash">
            <%= flash[:alert] %>
          </div>
<% end %>


      

<%= render partial: 'layouts/header' %>




<div class = "main">
	<header class = "mojoleaf-header">
		<h1 class = "main-header"><%= @quote.quote %><a href="#footnote" class="asterix">*</a></h1>
	</header>

	<div>
		<p class="mojoleaf-header"><%= @quote.tagline %></p>
	</div>

	<div class="main-cta">
	<% if user_signed_in? %>
		<%= link_to "Your dashboard", tests_path, class: "button pink"%>
		
		<%= link_to "Add your design", new_test_path, class: "button"%>
		
	<%else%>
		
		<%= link_to "Let's get started", new_user_registration_path, class: "button"%>
		
	<% end %>
		
		
	</div>
	
	

        <p id="learn">
        <a href="#about" class="learn-link">Learn More About Mojoleaf</a>
        </p>
        

</div>
  

  <div id="about">
  
 
  
  <h2 class="value-prop">FREE Desirability Testing based on the Microsoft Reaction Card Method</h2>
<p class="value-prop">
	
	    <img id="yourtube-video" src="/assets/desirability-testing-video-placeholder.png" data-video="http://www.youtube.com/embed/67SmOFm7ESc?controls=0&showinfo=0&rel=0&autoplay=1">
	
</p>

<div class="grey">
	<div class="wrapper">
		<div class = "tell-me-more group">
		
			<h2>Tell me more</h2>  
			<p class="no-indent">The <i>Microsoft Reaction Card Method</i> was developed in 2002 by Joey Benedek and Trish Miner in their paper <a href="http://www.microsoft.com/usability/uepostings/desirabilitytoolkit.doc", class="blue-link">Measuring Desirability: New Methods for Evaluating Desirability in a Usability Lab Setting</a>. It is used to check the emotional response of a design or product and is commonly used in the field of software design.</p>
			<p class="no-indent">Benedek and Miner suggested presenting participants with a design and a set of 118 adjectives to describe their reactions (these adjectives represented a mix of descriptions that people may consider positive or negative). They would then ask participants to select the 3 to 5 words that they thought best described the design.</p>
			<p class="no-indent">You can see a full list of the 118 adjectives suggested by Benedek and Miner on the <a href="https://en.wikipedia.org/wiki/Microsoft_Reaction_Card_Method_(Desirability_Testing)", target="_blank", class="blue-link">Wikipedia page for the Microsoft Reaction Card Method (Desirability Testing)</a>.</p>
			<p class="no-indent"><i>Originally, Mojoleaf contained all of the suggested 118 adjectives, however multiple sessions of usability testing revealed that the sheer volume was daunting for participants. It also became clear that it was hard to differentiate between a number of the original words because they were so similar. Mojoleaf now contains a subset of the original adjectives with some being consolidated and relabelled to help make the distinction clearer. All of this was done to make leaving feedback on your design much easier.</i></p>
			<p class="no-indent">When you upload a design you will be supplied a link which can be sent to the people you want feedback from, and by combining the output from multiple sessions, the <i>Reaction Card Method</i> can be used to help make an informed decision about design direction and get a view as to whether the presented design options contain the characteristics the brand is trying to portray.<p>
		</div>
	
	
		<div class = "why-important group">
			<h2>Why is it important?</h2>
			
			<p class="no-indent">Everything has a halo effect and those first impressions can impact a product’s perceived utility, usability, and credibility.
			A negative first impression means that customers are more likely to find fault, even if a product’s overall usability is good and the product offers real value.</p>
			<p class="no-indent">The issue with just asking people what they prefer as part of a usability test, for example, is that the response we are looking for from users is more emotional, it is less about users’ ability to accomplish tasks and more about their affective response to a given design and the <i>Reaction Card Method</i> can do a much better job of informing and helping to achieve consensus on design decisions.</p>
			<div class="main-cta">
				
				
					<% if user_signed_in? %>
		
					<%= link_to "Add your design", new_test_path, class: "button"%>
					
				<%else%>
					
					<%= link_to "Let's get started", tests_path, class: "button"%>
					
				<% end %>
							
				
	
			</div>
		</div>
	
	</div>
</div>



<div id="footnote" class="wrapper group">
	<p class = "footnote no-indent">* <%= raw @quote.quote_by %></p>
</div>

<%= render partial: 'layouts/footer' %>







<!-- SMOOTH SCROLL -->
  <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 500);
            return false;
          }
        }
      });
    });
  </script>
<!-- End of SMOOTH SCROLL -->


<script>
    $('img#yourtube-video').click(function(){
        video = '<iframe width="640" height="360" frameborder="0" allowfullscreen src="'+ $(this).attr('data-video') +'"></iframe>';
        $(this).replaceWith(video);
    });

    
   </script>

<!-- Start of LEARN FADE OUT -->
  <script>
    $(document).ready(function(){
      $(window).scroll(function(){
          var posFromTop = $(window).scrollTop();

          if(posFromTop > 200){
          $ ("#learn").fadeOut(400);


          } else {
          // otherwise do something else.
            $ ("#learn").fadeIn(400);
          }
        });
      });
  </script>
<!-- End of LEARN FADE OUT -->