<% @page_title = 'Terms of Service' %>

<%= render partial: 'layouts/header' %>


	<div class = "wrapper">
			
	<div class="breadcrumb">
		<strong>You are in:</strong>
		<%= link_to "Home", root_path %> &raquo 
		Terms of service
		
	</div>

<h1 class="legal">Terms of service</h1>

<p class="no-indent copy">By using the Mojoleaf ("Service"), you are agreeing to be bound by the following terms and conditions ("Terms of Service").</p>

<p class="no-indent copy">UCD Consulting Limited ("Company") reserves the right to update and change these Terms of Service without notice.</p>

<p class="no-indent copy">Violation of any of the terms below may result in the termination of your account.</p>

<h2 class="copy">Account Terms</h2>

<ol>
	<li>You are responsible for maintaining the security of your account and password. The Company cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</li>
	<li>You are responsible for all content posted and activity that occurs under your account.</li>
	<li>You may not use the Service for any illegal purpose or to violate any laws in your jurisdiction (including but not limited to copyright laws).</li>
	<li>You must provide a valid email address, and any other information requested in order to complete the signup process.</li>
	<li>Your login may only be used by one person – a single login shared by multiple people is not permitted.</li>
</ol>



<h2 class="copy">Cancellation and Termination</h2>

<ol>

	
	<% if user_signed_in? %>
	
		<% if Test.where(:user_id => [current_user.id]).size > 0 %>
			<li>You are solely responsible for properly cancelling your account. An email to cancel your account is not considered cancellation. You can cancel your account at any (this section will contain a link to cancel your account once you have deleted <strong><%= pluralize Test.where(:user_id => [current_user.id]).size, "test" %></strong> from <%= link_to "Your dashboard", tests_path, class: "blue-link" %>).</li>
		<% else %>
			<li>You are solely responsible for properly cancelling your account. An email to cancel your account is not considered cancellation. You can cancel your account at any time by clicking: <%= link_to 'Delete my account', user_registration_path, class: "blue-link", :confirm => 'We hate to see you go...are you sure you want to delete your account?', :method => :delete %></li>
		
		<% end %>	
			
		
	<%else%>
		
			<li>You are solely responsible for properly cancelling your account. An email to cancel your account is not considered cancellation. You can cancel your account at any time (this section will contain a link to cancel your account once you are logged in and have deleted all of your tests).</li>
		
	<% end %>
	
	
	
	
	
	
	
	<li>All of your content will immediately become inaccessible from the Service upon cancellation and all associated content will be deleted in due course. This information cannot be recovered once it has been permanently deleted.</li>
	<li>The Company, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all content in your account. The Company reserves the right to refuse service to anyone for any reason at any time.</li>
</ol>


<h2 class="copy">Modifications to the Service</h2>

<ol>
<li>The Company reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, any part of the Service with or without notice.</li>
<li>The Company shall not be liable to you or to any third party for any modification, suspension or discontinuance of the Service.</li>
</ol>


<h2 class="copy">Copyright and Content Ownership</h2>

<ol>
<li>We claim no intellectual property rights over the material you provide to the Service. All materials uploaded remain yours.</li>
<li>The Company does not pre-screen content, but reserves the right (but not the obligation) in their sole discretion to refuse or remove any content that is available via the Service.</li>
</ol>


<h2 class="copy">General Conditions</h2>

<ol>
<li>Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis.</li>
<li>Technical support is only provided via email.</li>
<li>You understand that the Company uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</li>
<li>You must not modify, adapt or hack the Service.</li>

<li>We may, but have no obligation to, remove content and accounts that we determine in our sole discretion are unlawful or violates any party’s intellectual property or these Terms of Service.</li>

<li>The Company does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) any errors in the Service will be corrected.</li>
<li>You expressly understand and agree that the Company shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if the Company has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorised access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</li>


<p class="no-indent copy">Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes.</p>

	<p class="no-indent copy"><i>Last updated: April 2014</i></p>
    </div>
    
    <%= render partial: 'layouts/footer' %>