<% @page_title = 'Register' %>
<% @meta_description = "Once registered you will be able to get feedback on your design using the Microsoft Reaction Card Method" %>

<%= render partial: 'layouts/header' %>


<div class="wrapper">
	<div class="test-form">

		<h2>Register to add designs and get feedback</h2>
          
      <% if flash[:alert].present? %>
          <div data-alert class="home-flash">
            <%= flash[:alert] %>
          </div>
	<% end %>
          
		<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		  <%= f.error_notification %>
		
		  <div class="form-inputs">
		    <%= f.input :email, required: true, autofocus: true, hint: "We value your privacy so this won't be shared with anyone else" %>
		    <%= f.input :password, required: true, hint: "Minimum: 6 characters" %>
		    <%= f.input :password_confirmation, required: true %>
		  </div>
		
		  <div class="form-actions">
		    <%= f.button :submit, "Sign up", data: { disable_with: "Creating your account..."} %>
		  </div>
		<% end %>
		
		<%= render "devise/shared/links" %>

	</div>
	
</div>
 <div class="extra-margin">
 <%= render partial: 'layouts/footer' %>
 </div>