<% @page_title = 'What do you think of this design?' %>

		<script>

		     $(document).ready(function() {
	    
		        var $submit = $('input[type="submit"]').hide(),
		            $cbs = $('input[type="checkbox"]');
		            $cbs.click(function() {
		                $submit.toggle( $cbs.is(":checked") );
		            });
	    
	    	});

		</script>

		<% if flash[:error].present? %>
		          <div data-alert class="home-flash">
		            <%= flash[:error] %>
		          </div>
		<% end %>
		
		<% if flash[:alert].present? %>
		          <div data-alert class="home-flash">
		            <%= flash[:alert] %>
		          </div>
		<% end %>

<div class="black-body">

	<div class="frame">
			<%= image_tag @test.image(:large), class: 'main-img' %>
	</div>

		<div class= "feedback-bar">
			<button id="trigger-overlay" type="button" class ="button">What do you think of this design?</button>
		</div>

<div class="overlay overlay-simplegenie">

				<div class="overlay-wrapper">

					<div class="group">
						<button type="button" class="overlay-close">Hide</button>
					</div>


	
				<%= simple_form_for [@test, @test_user], url: test_results_path, method: :post do |form| %>
					<%= simple_fields_for :results do |f| %>
						<div class="words-divider group">
						<h2 class="overlay-heading">I like it because it's:</h2>
						<p class="tip">Select all that apply</p>
						
						<%= f.input :chosen_words, collection: Option.where(category: "good"), as: :check_boxes, label: false %>	
						</div>
						
						<div class="words-divider bad group">					
						<h2 class="overlay-heading">I <i><u>don't</u></i> like it because it's:</h2>
						<p class="tip">Select all that apply</p>
						
						<%= f.input :bad_chosen_words, collection: Option.where(category: "bad"), as: :check_boxes, label: false %>
						</div>
						
						<% end %>
	
			<div class= "submit-button group" >
				<%= form.button :submit, "Submit feedback", class: 'secondary' %>
			</div>
				<% end %>
				
			</div>
				
</div>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-10454497-2', 'mojoleaf.com');
  ga('send', 'pageview');

</script>
	

	
</div>