<h2>Congratulations</h2> 
<p>Your test has been successfully added to <a href="http://www.mojoleaf.com" target="_blank">mojoleaf.com</a></p> 

<p>Make sure you spread the word and let people know you want feedback, otherwise no one will know your design is there and you won't get the feedback you're after.</p>


<p><strong>Spread The Word:</strong></p>

<p>Direct link for you to share anyway you see fit: <%= @test.short_url %></p>

<p>Share your design on <a href="http://www.facebook.com/share.php?u=<%= @test.short_url %>" target="_blank">Facebook</a></p>


<p>Tweet about it on <a href="http://twitter.com/home?status=What+do+you+think+of+my+design%3F-+<%= @test.short_url %>" target="_blank">Twitter</a></p>


		<p>Your test will last for <%= pluralize @test.duration, "day" %> and end on <strong><%= @test.end_date.strftime('%A, %e %B %Y') %></strong> around <%= @test.end_date.strftime('%H.%M') %></p>



<h3>What happens next?</h3>


<p>When your test ends, we'll let you know.</p>
<p>Alternatively, you can see how your test is going at any time from <%= link_to "Your dashboard", host: 'localhost:3000', controller: "tests", action: "index"  %>.</p>

